{
  "parser": "babel-eslint",
  "extends": ["airbnb"],
  "rules": {
    "no-console": ["off", "always"],
    "arrow-body-style": ["off", "always"],
    "comma-dangle": ["error", {
      "arrays": "only-multiline",
      "objects": "only-multiline",
      "imports": "only-multiline",
      "exports": "only-multiline",
      "functions": "only-multiline",
    }],
    "import/prefer-default-export": ["off", "always"],
    "react/no-array-index-key": ["off", "always"],
    "react/prop-types": ["off", "always"],
    "react/jsx-filename-extension": ["off", "always"]
  },
  "env": {
    "browser": true
  },
}
